
/* Any Localization - © 2020-2021 George Huan. All rights reserved*/
/* https://github.com/georgehuan1994/996-Salary-Calculator*/

.col-lg-1 {
    width: 50px;
}

.progress {
    height: 70px;
    width: 26px;
    transform: rotate(180deg);
    margin: 2px 0 0 0;
}

.progress-bar {
    width: 100%;
    background-color: #5bc0de;
}

.ctrl {
    width: 26px;
    height: 20px;
    padding: 0;
}

.result-box {
    position: relative;
    z-index: 10;
    bottom: 0;
    -webkit-box-shadow: 0 -1px 8px 0 rgba(0,0,0,0.06);
    box-shadow: 0 -1px 8px 0 rgba(0,0,0,0.06);
}

.result-box-flex {
    position: fixed;
    z-index: 999;
    width: calc(100% - 63px);
}

@media (min-width: 768px) {
    .result-box-flex {
        width: 687px;
    }
}
@media (min-width: 992px) {
    .result-box-flex {
        width: 666px;
    }
}
@media (min-width: 1200px) {
    .result-box-flex {
        width: 815px;
    }
}